@font-face {
    font-family: 'Roboto';
    src: url(./assets/Roboto.ttf);
}

*,
*::before,
**::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --ag-font-family: 'Roboto';
    --ag-font-size: 12px;
    --ag-spacing: 1px;

    --ag-wrapper-border-radius: 0;

    --ag-checkbox-border-radius: 0;
    --ag-checkbox-border-width: 1px;

    --ag-checkbox-unchecked-border-color: rgba(0, 0, 0, 0.5);
    --ag-checkbox-checked-border-color: rgba(0, 0, 0, 1);
    --ag-checkbox-checked-shape-color: rgba(0, 0, 0, 1);
    --ag-checkbox-checked-background-color: transparent;

    --border-color: rgba(0, 0, 33, 0.5);
    --blue: #2196f3;

    font-family: var(--ag-font-family);
    font-size: var(--ag-font-size);
}

#drop-overlay {
    position: fixed;
    inset: 0;
    background: rgba(93, 157, 233, 0.3);
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;

    &.active {
        opacity: 1;
        pointer-events: auto;
    }
}

#drop-area-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#drop-area {
    width: 300px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 66px;
    font-weight: bold;
    border: 2px dashed grey;
    border-radius: 8px;
}

#filter-text-box.searching {
    outline: 2px solid orangered;
}

.ag-header-row {
    font-weight: bold;
}

.ag-icon-filter {
    margin-right: 2px;
}

.ag-sort-indicator-icon {
    color: var(--blue);
}

#top-bar {
    display: flex;
    justify-content: space-between;
}

#tabs {
    display: flex;
    position: relative;
    margin-bottom: -1px;
}

.tab-button {
    font-size: var(--ag-font-size);
    font-weight: bold;
    border: 1px solid var(--border-color);
    border-bottom: transparent;
    border-right: transparent;

    background-color: rgba(0, 0, 33, 0.1);
    padding: 3px 10px;
    margin: 0;
}

.tab-button:not(.active-tab-button):hover {
    background-color: white;
    border-bottom: 1px solid var(--border-color);
    margin-top: -1px;
}

.tab-button:last-of-type {
    border-right: 1px solid var(--border-color);
}

.active-tab-button {
    border-top: 2px solid var(--blue);
    background-color: white;
    color: black;
}

.tab-content {
    border: 1px solid var(--border-color);
    display: none;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#loading-indicator {
    position: absolute;
    left: 100%;
    align-self: center;
    margin-left: 6px;
    margin-bottom: 2px;
    border: 3px solid gainsboro;
    border-top: 3px solid orangered;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}